export AAP_TEST_JOB_TEMPLATE_ID="{{ job_template_inventory_prompt_on_launch.id }}"
export AAP_TEST_WORKFLOW_JOB_TEMPLATE_ID="{{ workflow_job_template.id }}"
export AAP_TEST_ORGANIZATION_ID="{{ organization_non_default.id }}"

export AAP_TEST_WORKFLOW_INVENTORY_ID="{{ workflow_with_inventory.id }}"
export AAP_TEST_INVENTORY_FOR_WF_ID="{{ inventory_for_workflow.id }}"
export AAP_TEST_JOB_FOR_HOST_RETRY_ID="{{ job_template_sleep.id }}"
export AAP_TEST_JOB_TEMPLATE_FAIL_ID="{{ job_template_fail.id }}"

# {{ token_type }} token
export AAP_TOKEN="{{ token }}"
