---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

## Example Usage

### Basic EDA Project

{{ tffile "examples/resources/aap_eda_project/resource.tf" }}

### EDA Project with SCM Branch

{{ tffile "examples/resources/aap_eda_project/with_scm_branch.tf" }}

### EDA Project with Proxy

{{ tffile "examples/resources/aap_eda_project/with_proxy.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
# EDA projects can be imported using their numeric ID
terraform import aap_eda_project.example 123
```
