---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

{{ if .HasExample }}
## Example Usage

{{ tffile "examples/resources/aap_eda_credential_type/resource.tf" }}

{{ tffile "examples/resources/aap_eda_credential_type/resource-complete.tf" }}
{{ end }}

{{ .SchemaMarkdown | trimspace }}
