---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

!> ⚠️ **Deprecation Notice**: The `organization` attribute will no longer assume the default value of 1 when not present in the resource block.  `organization` attribute will be required on this resource in version `2.0.0` of this provider.   Please update your configuration to include this argument to avoid breaking changes.

{{ if .HasExample }}
## Example Usage

{{ tffile .ExampleFile }}
{{ end }}

{{ .SchemaMarkdown | trimspace }}

