---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

{{ if .HasExample }}
## Example Usage

{{ tffile .ExampleFile }}
{{ end }}

{{ .SchemaMarkdown | trimspace }}

## Inventory Look Up

You can look up inventories by using either the `id` or a combination of `name` and `organization_name`.

Creating a new inventory in the Default organization:
```terraform
resource "aap_inventory" "sample" {
  name        = "My Sample Inventory"
  organization_name = "Default"
  description = "A new inventory for testing"
  variables   = jsonencode(yamldecode(local.values_variables))
}
```

You can access this inventory using either the `id` or the combination of `name` and `organization_name`.
```terraform
data "aap_inventory" "sample" {
  id = aap_inventory.sample.id
}

data "aap_inventory" "sample" {
  name = aap_inventory.sample.name
  organization_name = aap_inventory.sample.organization_name
}
```