---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

{{ if .HasExample }}
## Example Usage

{{ tffile .ExampleFile }}
{{ end }}

{{ .SchemaMarkdown | trimspace }}
> ⚠️ **Deprecation Notice**: The `organization` argument will be required in version `2.0.0`. Update your configuration to include this argument to avoid breaking changes.
