---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

-> **Note** To pass an inventory to an aap_workflow_job resource, the underlying workflow job template *must* have been configured to prompt for the inventory on launch.

!> **Warning** If an AAP Workflow Job launched by this resource is deleted from AAP, the resource will be removed from the state and a new workflow job will be created to replace it.

{{ if .HasExample }}
## Example Usage

{{ tffile .ExampleFile }}
{{ end }}

## Ensuring Workflow Jobs Launch on Hosts created and Inventories updated in the same configuration

### Advanced Usage - `depends_on` in `aap_workflow_job` `resource` for `aap_host` `resource` creation
-> **Note** if you have HCL that creates an `aap_host` `resource` in an already existing `aap_inventory`, you will have to add a `depends_on` clause in the `aap_workflow_job` `resource` block of the `aap_workflow_job` that needs that `aap_host` to exist in the `aap_inventory` used for the `aap_workflow_job` creation.

If you do not use the depends_on clause as illustrated below you may run into a race condition where the workflow job will attempt to launch before the inventory is updated with the host required.

### Example HCL for this scenario:

```terraform
data "aap_inventory" "inventory" {
  name              = "Demo Inventory"
  organization_name = "Default"
}

resource "aap_host" "host" {
  inventory_id = data.aap_inventory.inventory.id
  name         = "127.0.0.1"
}

data "aap_workflow_job_template" "workflow_job_template" {
  name              = "Demo Workflow Job Template"
  organization_name = "Default"
}

resource "aap_workflow_job" "workflow_job" {
  workflow_job_template_id = data.aap_workflow_job_template.workflow_job_template.id
  inventory_id             = data.aap_inventory.inventory.id

  # Force creation of this resource to wait for the aap_host.host resource to be created
  depends_on = [
    aap_host.host
  ]
}
```

{{ .SchemaMarkdown | trimspace }}
