---
page_title: "Red Hat Ansible Automation Platform provider"
description: |-
  Terraform provider for Red Hat Ansible Automation Platform (AAP).
---

# Red Hat Ansible Automation Platform provider

The Red Hat Ansible Automation Platform (AAP) provider allows Terraform to reference and manage
a subset of AAP resources.

## Example Usage

{{ tffile .ExampleFile }}
{{ .SchemaMarkdown | trimspace }}

## Authentication Methods

The provider supports multiple authentication methods with Red Hat Ansible Automation Platform (AAP). Token Authentication is the recommend method, since users can manage tokens for specific integrations (e.g. Terraform), limit token access, and have full control over token lifecycle.

For more information on creating tokens, see [Red Hat Ansible Automation Platform 2.5 - Access management and Authentication](https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/access_management_and_authentication/gw-token-based-authentication#proc-controller-apps-create-tokens) for AAP 2.5+ or [Red Hat Ansible Automation Platform 2.4 - Managing Users in automation controller](https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.4/html/automation_controller_user_guide/assembly-controller-users#proc-controller-user-tokens) for AAP 2.4.

The provider also supports basic authentication with a username and password. If a token is configured, username and password will be ignored.

## Supported Platforms

- Linux AMD64 and ARM64
- macOS AMD64 and ARM64
