---
page_title: "AAP Provider"
description: |-
  Terraform provider for Ansible Automation Platform (AAP).
---

# AAP Provider

The AAP Provider allows Terraform to manage Ansible Automation Platform resources.



## Example Usage

{{ tffile .ExampleFile }}
{{ .SchemaMarkdown | trimspace }}
