---
page_title: "AAP Provider"
description: |-
  Terraform provider for Ansible Automation Platform (AAP).
---

# AAP Provider

The AAP Provider allows Terraform to manage Ansible Automation Platform resources.
It allows you to create inventories of instances you have provisioned and run
job templates using those inventories.



## Example Usage

{{ tffile .ExampleFile }}
{{ .SchemaMarkdown | trimspace }}
