---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

## Example Usage

### Get All EDA Projects

{{ tffile "examples/data-sources/aap_eda_projects/data-source.tf" }}

### Filter by Organization

{{ tffile "examples/data-sources/aap_eda_projects/filter_by_organization.tf" }}

### Filter by Name

{{ tffile "examples/data-sources/aap_eda_projects/filter_by_name.tf" }}

{{ .SchemaMarkdown | trimspace }}
