---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

{{ if .HasExample }}
## Example Usage

### Look up by name

{{ tffile "examples/data-sources/aap_eda_credential_type/data-source.tf" }}

### Look up by ID

{{ tffile "examples/data-sources/aap_eda_credential_type/data-source-by-id.tf" }}
{{ end }}

{{ .SchemaMarkdown | trimspace }}
