---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

{{ if .HasExample }}
## Example Usage

{{ tffile .ExampleFile }}
{{ end }}

## Attribute Information

-> **Note** The Schema definition below suggests that `id`, `name` and `organization_name` are optional, however the inventory data block requires `id` or the combination of `name` and `organization_name` as attributes.

{{ .SchemaMarkdown | trimspace }}
