name: unit tests

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
        go_version: '1.21.1'

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go ${{ env.go_version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.go_version }}

      - name: Install dependencies
        run: go get .

      - name: Build
        run: go build -v ./...

      - name: Run unit tests
        run: make test
